//colores
$amarillo: #FFDD00;
$negro: #000;
$blanco: #fff;
$azulOscuro: #021d5c;
$azulClaro: #034EA2;
$blancoFooter: rgba(255, 255, 255, 0.466);
$blancoOfertaRemera:rgba(255, 255, 255, 0.781);

//estilo letras (negrita)
$negrita: bold;