@import 'utilities/variables';
@import 'base/tipografias';
@import 'base/mixins';

.containerHeader{
    display: flex;
    align-items: center ;
    background-color: $azulClaro;

    &__logo{
        max-width: 70px;
        margin-left: 10px;
    }

    &__contenedorTitulo{
        @include tamanio(70%,auto);
    }

    &__titulo{
        color: $amarillo;
        font-family: $fuenteRoboto;
        @include tamanio(200px,auto);
        margin-bottom: 0px;
        margin-left: 10px;
    }

    &__titulo--negrita{
        font-weight: $negrita;
    }

    &__containerSponsors{
        display: none;
    }

}

@media only screen and (min-width:600px){
   
    .containerHeader{
        justify-content: space-between;

        &__containerSponsors{
            display: flex;
            justify-content: space-evenly;
            @include tamanio(30%,auto);
        }

        &__sponsor{
            @include tamanio(60px,auto);
            padding: 5px;
        }
    }
    
}

@media only screen and (min-width:815px){

    .containerHeader{
    
        &__titulo{
            @include tamanio(250px,auto);
        }

        &__sponsor{
            @include tamanio(80px,auto);
            padding: 5px;
        }
    }
}